<html>

<head>
    <title>Lets Explore Admin Managment System</title>
    <link href="../Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="../Content/form.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="system-identity">
                <h1 class="system-name"><a href="/">LEAMS</a></h1>
                <span class="detailed-name"><a href="/">Lets Explore Admin Managment System</a></span>
            </div>
        </div>
        <div id="login-status">
            <span>Admin</span> |
            <a href="../login.html">Logout</a>
        </div>
        <div id="middle">
            <div id="sidebar-left">
                <div id="orgLinks" class="module-box">
                    <span>Tour Management</span>
                    <ul>
                        <li><a href="tour_location.html">Tour Location</a></li>
                        <li><a href="tour_guides.html">Tour Guides</a></li>
                        <li><a href="news.html">News</a></li>
                    </ul>
                </div>
                <div id="recLinks" class="module-box">
                    <span>User Managment</span>
                    <ul>
                        <li><a href="user_account.html">User Account</a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="country">Country</label>
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>

                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div id="footer">
            <span>Copy Right</span>
        </div>
    </div>
</body>

</html>